{% block nav %}{% include '::knp_menu_html.html.twig' %} {% endblock %}

 {% block title %} Posez une question {% endblock %} 
        {% block body %}
<div class ="content">

<div id="contact" >
contact
<hr>
<p> Contactez nous directement notre equipe via le formulaire ci dessous ... 
</p>

     
</div>
    </div>
        {% endblock %}

        {% block javascripts %}{% endblock %}
{% block footer %}{% include '::footer.html.twig' %}
        {% endblock %}

   