{% block nav %}{% include '::knp_menu_html.html.twig' %} {% endblock %}

        {% block body %}
<div class ="content">

<div id="inscription" >
Formulaire d'inscription
<hr>

</div>


</div>
        {% endblock %}

        {% block javascripts %}{% endblock %}
{% block footer %}{% include '::footer.html.twig' %}
        {% endblock %}

 
