<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
<!-- Responsive design -->
         <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Fin -->

        <title>{% block title %}{% endblock %} - Moussa </title>

        <link rel="stylesheet" type="text/css" href="{{
        asset('css/bootstrap.min.css')  }}" />


        <link rel="stylesheet" type="text/css" href="{{
        asset('css/style.css')  }}" />

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        

    </body>
</html>
